$c-primary-dark: #763b01;
$c-primary-opacity: #fbb03bb0;
$c-primary: #fbb03b;
$c-primary-light: #fac46e;
$c-primary-lighter: #fff5e4;
$c-primary-lightest: #fffaf2;
$c-secondary: #e27200;
$c-secondary-opacity: #e2710083;
$c-secondary-light: #dd8833;
$c-purple: #68529f;
$c-success: #31c7aa;
$c-success-light: #6ae5d3;
$c-warning: #f69e95;
$c-warning-light: #ffe2de;
$c-danger: #df7979;
$c-info: #857bff;
$c-black: #000000;
$c-black-dark: #020311;
$c-black-light: #2d3e50;
$c-white: #ffffff;
$c-white-dark: #dfe9ea;
$c-yellow: #e5a400;
$c-blue: #0066cc;
$c-blue-light: #3e7192;
$c-blue-lighter: #5fb7ff;
$c-blue-lightest: #b6d2ff;
$c-red: #ff0000;
$c-red-dark: #cc0000;
$c-green-dark: #25d366;
$c-green-primary: #5eb041;
$c-green: #72d179;
$c-green-light: #dbf5ee;
// Start New Colors (Gray)
$c-gray-primary: #838383;
$c-gray-secondary: #808080;
$c-gray-darker: #5c5c5c;
$c-gray-dark: #4b4b4b;
$c-gray: #aeaeb2;
$c-gray-border: #cfcfcf;
$c-gray-light: #f0f0f0;
$c-gray-lighter: #f0f2f5;
$c-gray-lighter-more: #f6f7f9;
$c-gray-lightest: #fafafa;
// End New Colors

$bg-primary-light: #dce0ff;

$c-lavender: #e1e2fe;
$c-error: #f44336;
$bg-progress-gradient: linear-gradient(90deg, $c-warning 0%, $c-primary 45%, $c-success 100%);
$bg-progress-gradient-reversed: linear-gradient(
  -90deg,
  $c-warning 0%,
  $c-primary 45%,
  $c-success 100%
);
$bg-gradient-primary: linear-gradient($c-primary-opacity, $c-secondary-opacity);
$bg-gradient-primary-right: linear-gradient(to right, $c-primary 0%, $c-primary-dark 100%);
$bg-gradient-primary-left: linear-gradient(to left, $c-primary 0%, $c-primary-dark 100%);
$bg-gradient-primary-top: linear-gradient(to top, $c-primary 0%, $c-primary-dark 100%);
$bg-gradient-primary-bottom: linear-gradient(to bottom, $c-primary 0%, $c-primary-dark 100%);

$themes: (
  light: (
    c-primary-dark: #763b01,
    c-primary-darker: #763b01,
    c-primary-opacity: #fbb03bb0,
    c-primary: #fbb03b,
    c-primary-light: #fac46e,
    c-primary-lighter: #fff5e4,
    c-primary-lightest: #fffaf2,
    c-secondary: #e27200,
    c-secondary-opacity: #e2710083,
    c-secondary-light: #dd8833,
    body-background: #fefeff,
    c-gray-dark: #4b4b4b,
    button-color: #ffffff,
    button-color-dark: #fff5e4,
    box-shadow: 0px 0 25px 1px rgba(145, 158, 171, 0.264),
    side-button: #552b00,
    table-head: #fbb03b,
    input-color: #f0f0f0,
    input-text-color: #838383,
  ),
  dark: (
    c-primary-dark: #fcb600,
    c-primary-darker: #133b5c,
    c-primary-opacity: rgba(251, 176, 59, 0.5),
    c-primary: #fbb03b,
    c-primary-light: #fac46e,
    c-primary-lighter: #fff5e4,
    c-primary-lightest: #fffaf2,
    c-secondary: #e89c45,
    c-secondary-opacity: rgba(232, 156, 69, 0.5),
    c-secondary-light: #dd8833,
    body-background: #16223d,
    c-gray-dark: #838383,
    button-color: #133b5c,
    button-color-dark: #1e5f74,
    box-shadow: 0 0 0 0 transparent,
    side-button: #fffaf2,
    table-head: #16223d,
    input-color: #16223d,
    input-text-color: #e6e6e6,
    table-row: #1e5f74,
    table-row-light: #498ca3,
    table-row-text: #fffaf2,
    login-card: #133b5c9c,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
