@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';

.header-wrapper {
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-title {
    font-size: 30px;
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-family: $ff-extrabold;

    @include themify($themes) {
      color: themed('c-primary-dark');
    }
  }

  .header-subtitle {
    font-size: 16px;
    padding-left: 0.3rem;

    @include themify($themes) {
      color: themed('c-gray-dark');
    }
  }

  .header-btns {
    display: flex;
    align-items: center;

    .notifications-btn-wrapper {
      padding-right: 1rem;

      @include rtl {
        padding-right: 0;
        padding-left: 1rem;
      }

      .MuiButtonBase-root {
        box-shadow: $bs-primary;
        border-radius: 1rem;
        padding: 0.5rem;
        color: $c-yellow !important;
        width: 3.5rem;
        height: 3.5rem;

        @include themify($themes) {
          background-color: themed('button-color');
          box-shadow: themed('box-shadow');
        }
      }

      .mdi::before {
        font-size: 1.5rem;
      }
    }

    .cog-btn-wrapper {
      padding-right: 1rem;

      @include rtl {
        padding-left: 1rem;
      }

      .MuiButtonBase-root {
        box-shadow: $bs-primary;
        border-radius: 1rem;
        color: $c-info !important;
        padding: 0.5rem;
        width: 3.5rem;
        height: 3.5rem;

        @include themify($themes) {
          background-color: themed('button-color');
          box-shadow: themed('box-shadow');
        }
      }

      .mdi::before {
        font-size: 1.5rem;
      }
    }

    .user-profile-btn-wrapper {
      .MuiButtonBase-root {
        box-shadow: $bs-primary;
        border-radius: 100%;
        padding: 0.5rem;
        width: 3.5rem;
        height: 3.5rem;

        @include themify($themes) {
          background-color: themed('button-color');
          color: themed('c-primary');
          box-shadow: themed('box-shadow');
        }
      }

      .MuiAvatar-root {
        @include themify($themes) {
          background-color: themed('c-primary');
        }
      }
    }
  }
}
